body{
    margin: 0;
    display: flex;
    flex-direction: column;
    /* btn to center */
    align-items: center; 
    /* images to center */
    text-align: center;
    /* all items to center */
    height: 100vh;
    justify-content: center;

    background-color: black;
}